<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.s4nchez.androidlearning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".option1.PendingIntentService"
            android:process=":PendingIntentServiceProcess" />

        <service
            android:name=".option2.BroadcastReceiverService"
            android:process=":BroadcastReceiverServiceProcess" />

        <service
            android:name=".option3.ServiceConnectionService"
            android:exported="true" />
    </application>

</manifest>